{% extends 'base.html' %}

{% block content %}

    <h1>Graphs</h1>

    <ul>
      {% for campaign in campaigns %}

      <li>{{ campaign.name }}
        <ul>
            <li>
              <a href="{{ campaign.id }}">
                Analysis
              </a>
            </li>
            
            <li>
              <a href="{% url 'graphs_raw_24h' campaign.id %}">
                Raw Data 24h
              </a>
            </li>

            <li>
              <a href="{% url 'graphs_raw' campaign.id %}">
                Raw Data
              </a>
            </li>
        </ul>
      </li>

    {% endfor %}
    <ul>

{% endblock %}